body {
    background-color: #121212;
    font-family: Arial;
    color: white;
    text-align: center;
}

form {
    background: #1e1e1e;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background-color: #ff9800;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
